div{
    width: 200px;
    height: 200px;
}
img{
    height: 100%;
}
.dragon02{
    width: 100%;
    height: auto;
}
.dragon04{
    height: 100%;
}
.saphira{
    width: 100%;
    height: auto;
}
.oeilDeDragon{
    width: 100%;
    height: auto;
}
.dragon10{
    width: 100%;
    height: auto;
}